@import "@/styles/_variables";
@import "@/styles/_placeholders";

.contacts {
  @extend %section;
}

.contacts__title {
  @extend %section__title;
}

.contacts__cont {
  @media (min-width: 768px) {
    display: flex;
  }
}

.contacts__list {
  text-align: left;

  @media (min-width: 768px) {
    width: 50%;
  }

  & li {
    display: flex;
    flex-direction: column;

    &:not(:first-of-type) {
      margin-top: 24px;
    }
  }
}

.info {
  text-decoration: none;
  color: $color-main;
  margin-top: 8px;
  font-size: 20px;

  & svg {
    transition: fill $duration $timing-function;
  }

  :hover svg {
    fill: $color-accent;
  }

  @media (min-width: 768px) {
    margin-top: 16px;
  }
}

.socials {
  display: inline-flex;
  gap: 8px;
  margin-top: 8px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: $color-main;

  transition: color 250ms ease-in;

  &:hover {
    color: $color-accent;
  }
}
