@import "@/styles/_variables";

%section {
  text-align: justify;
  margin-top: 36px;
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  scroll-margin: 84px;

  @media (min-width: 768px) {
    max-width: 768px;
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
    margin-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

%buttonLink {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  height: 40px;
  padding: 0 16px;
  margin-top: 12px;
  text-decoration: none;
  font-size: 16px;
  color: $color-main;
  background-color: $color-accent;
  border: none;
  border-radius: 500px;

  transition: all 250ms ease-in;

  &:hover {
    color: $color-accent;
    background-color: $color-main;
  }

  &:hover span {
    background-color: $color-accent;
  }
}

%round {
  width: 14px;
  height: 14px;
  background-color: $color-main;
  border-radius: 50%;
  color: $color-main;
  display: grid;
  place-content: center;
}
