@import "@/styles/_variables";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

%section {
  max-width: 480px;
  text-align: justify;
  margin: 0 auto;
  padding: 0 20px 36px 20px;
  scroll-margin: 84px;

  @media (min-width: 768px) {
    max-width: 768px;
    padding: 0 30px 100px 30px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 20px 120px 20px;
  }
}

%section__title {
  text-align: left;
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
  font-family: '__Oswald_ae7a68';
  text-transform: uppercase;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 40px;
  }

  @media (min-width: 1280px) {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 120px;
  }
}

%buttonLink {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  height: 40px;
  padding: 0 16px;
  margin-top: 12px;
  text-decoration: none;
  font-size: 16px;
  color: $color-main;
  background-color: $color-accent;
  border: none;
  border-radius: 500px;

  transition: all $duration $timing-function;

  &:hover {
    color: $color-accent;
    background-color: $color-main;
  }

  &:hover span {
    background-color: $color-accent;
  }
}

%round {
  width: 14px;
  height: 14px;
  background-color: $color-main;
  border-radius: 50%;
  color: $color-main;
  display: grid;
  place-content: center;
}
