@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Oswald:wght@400;700&display=swap");

$color-main: #173d33; // text
$color-main025: #173d333f; // main 0.25
$color-secondary: #828382; // grey
$color-accent: #97d28b; // lightgreen
$color-inactive: #eaedf1; // lightgrey
$font-title: "Oswald", sans-serif;
$duration: 300ms;
$timing-function: ease-in;
