@import "@/styles/_fonts";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #173d33;
  margin: 0;
  background-color: #f3f5fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", "Arial Narrow Bold", sans-serif;
  margin: 0;
  padding: 0;
}

ul,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
