@import "@/styles/_variables";
@import "@/styles/_placeholders";

.cases {
  @extend %section;
}

.cases__title {
  @extend %section__title;

  @media (min-width: 768px) {
    width: 50%;
    margin-bottom: 0;
  }
}

.cases__top {
  @media (min-width: 768px) {
    display: flex;
  }
}

.arrow {
  display: inline-grid;
  place-items: center;
  width: 66px;
  height: 66px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid $color-main;
  cursor: pointer;

  transition: all 250ms ease-in;

  &:hover,
  &:focus {
    border-color: $color-accent;
    color: $color-accent;
  }
}

.slider__ctrls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 28px;
  font-weight: 300;

  @media (min-width: 768px) {
    width: 50%;
    padding-left: 8px;
    border-left: 1px solid $color-accent;
  }

  @media (min-width: 1280px) {
    padding-left: 160px;
  }
}

.grey {
  color: $color-main025;
}

.slider__wrap {
  overflow: hidden;

  & .slick-next {
    display: none;
  }

  @media (max-width: 767.98px) {
    margin-top: 24px;
  }

  @media (min-width: 768px) {
    margin-top: 40px;

    & .slick-list {
      overflow: visible;
    }
  }

  @media (min-width: 1280px) {
    margin-top: 120px;
  }
}
