@import "@/styles/_variables";
@import "@/styles/_placeholders";

.services {
  @extend %section;
}

.services__title {
  @extend %section__title;

  text-align: center;
}

.services__cont {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
  }
}

.services__text {
  padding: 52px 18px;
  font-size: 36px;
  font-family: '__Oswald_ae7a68', sans-serif;
  text-transform: uppercase;
  text-align: left;
  line-height: 36px;
  background-color: $color-inactive;

  @media (min-width: 768px) {
    width: 50%;
    font-size: 40px;
  }
}

.services__list {
  list-style: none;
  text-align: center;
  font-size: 20px;
  line-height: 36px;

  background-image: image-set(url("/images/services/energy.webp") 1x,
      url("/images/services/energy@2x.webp") 2x);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (max-width: 767.98px) {
    margin-top: 24px;
  }

  @media (min-width: 768px) {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
  }
}
