@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: #173d33;
  margin: 0;
  background-color: #f3f5fa;
}

h1,
h2,
h3
 {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
