@import "@/styles/_variables";

.form {
  padding: 36px 12px;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  background-color: $color-inactive;

  @media (max-width: 767.98px) {
    margin-top: 24px;
  }

  @media (min-width: 768px) {
    margin-top: 0;
    width: 50%;
    margin-bottom: 100px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 120px;
  }
}

.input {
  width: 100%;
  padding: 8px 0;
  background-color: $color-inactive;
  border: none;
  border-bottom: 1px solid $color-accent;
  font-size: 18px;
  resize: none;
}

.label {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 16px;
}

.error {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: right;
  transform: translatey(100%);
  font-size: 10px;
  background-color: $color-inactive;
  border-top: 2px solid red;
  color: red;
}

.send {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 3.5px 4px 3.5px 16px;
  margin-top: 16px;
  margin-left: auto;
  font-size: 16px;
  color: $color-main;
  background-color: transparent;
  border: 1px solid $color-accent;
  border-radius: 500px;
  cursor: pointer;

  transition: all 250ms ease-in;

  &:hover {
    border-color: $color-main;
    background-color: $color-main;
    color: $color-accent;
  }
}

.mask {
  width: 100%;
  padding: 8px 0;
  background-color: $color-inactive;
  border: none;
  border-bottom: 1px solid $color-accent;
  font-size: 18px;
}
// font-family: ${(p) => p.theme.fonts.body};

.arrow {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  background-color: $color-accent;
  border-radius: 50%;
  border: none;
  color: #292d32;
}
