@import "@/styles/_variables";

.menu {
  width: calc(100vw - 40px);
  height: calc(100vh - 72px);
  padding: 24px;
  background-color: $color-main;
  border-radius: 16px;
  opacity: 90%;
  max-height: 865px;
  display: flex;
  flex-direction: column;

  @media (min-width: 480px) {
    width: 365px;
  }
}

.close {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 4px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 16px;
  text-align: left;
  cursor: pointer;

  transition: color $duration $timing-function;

  &:hover {
    color: $color-accent;
  }
}

.menu__list {
  list-style: none;
  margin-top: 16px;
  flex-grow: 1;
}

.menu__item {
  &:not(:first-of-type) {
    margin-top: 8px;
  }
}

.menu__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;

  transition: color 250ms ease-in;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.socials {
  display: flex;
  gap: 8px;
}

.socials__link {
  width: 24px;
  height: 24px;
  color: #ffffff;

  transition: color 250ms ease-in;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}
