@import "@/styles/_variables";

.footer {
  text-align: center;
  border-top: 1px solid $color-accent;}


.footer__cont {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 20px 50px;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }}


.footer__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $color-main;
}

.arrowUp {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  background-color: $color-accent;
  border-radius: 50%;
  border: none;
  color: #292d32;
  margin-left: auto;

  transition: all 250ms ease-in;

  &:hover {    
    background-color: $color-main;
    color: $color-accent;
  }

  @media (min-width: 768px) {
    order: 1;
  }}


.socials {
  display: inline-flex;
  gap: 8px;
  margin: 24px auto 0;
  width: 176px;
  justify-content: center;

  @media (min-width: 768px) {
    margin-top: 0;    
    align-items: center;
  }}


.socials__link {
  width: 24px;
  height: 24px;
  color: $color-main;

  transition: color 250ms ease-in;

  &:hover {
    color: $color-accent;
  }}


.contacts {
  list-style: none;
  margin-top: 24px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }}


.contacts__item {
  &:not(:first-of-type) {
    @media (max-width: 767.98px)
    {margin-top: 16px;}
  }}

